@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

//
// VARIABLES
// ----------------------------------------------------
$primary:#a40c24;
$primary-transparent:#a40c236a; 
$secondary:#DEDEDE;
$secondary-transparent:#dedede8e;
$tertiary:#9c9898;

$font-size-base: 1rem;
$font-size-bigger: 1.2rem;

$font-family-sans: "Montserrat", sans-serif;
$font-family-serif: "Roboto Slab","Big Caslon", Georgia, serif;

$color-text: #343a40;

$color-bg-primary: #f1efef;
$color-bg-secondary: #DEDEDE;
$color-bg-gradient: linear-gradient(
    to bottom, 
    rgba(217, 217, 217, 1) 0%, 
    rgba(217, 217, 217, 1) 21%, 
    rgba(227, 227, 227, 1) 40%, 
    rgba(254, 254, 254, 1) 94%, 
    rgba(254, 254, 254, 1) 100%
);

$box-shadow-primary:0 2px 1px rgba(0, 0, 0, 0.05),
                    0 2px 3px rgba(0, 0, 0, 0.05),
                    0 4px 8px rgba(0, 0, 0, 0.05);

//
//BOOTSTRAP IMPORT
// ----------------------------------------------------
@import "../../node_modules/bootstrap/scss/bootstrap";



//
// GENERAL
// ----------------------------------------------------
html {
    scroll-behavior: smooth;
  }

body {
    color: $color-text;
    // background: $color-bg-body;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font: {
        family: $font-family-sans;
        weight: normal;
    }
}

h1, h2, h3 {
    font: {
        family: $font-family-serif;
        // weight: bolder;
    }
}

.img-logo{
    max-width: 50%;
    max-height: 72px;
}

a:hover {
    color: $primary !important;
}

//
// NAVBAR
// ----------------------------------------------------
.navbar {
    background: $color-bg-gradient
}

.navbar-nav .nav-link.active {
    color: $primary;
}

.nav-link {
    font-size: $font-size-bigger;
}

.navbar-collapse {
    align-items: end;
}

.navbar-contact-details ul {
    margin: 0;
    justify-self: flex-end;
    flex-direction: column !important;
}

//
// INTRODUCTION
// ----------------------------------------------------
#introduction {
    background-color: $color-bg-primary;
}

#introduction img{
    max-height: 500px;
}

//Carousel mask - inspiration from https://alunad.cz/zabradli
.mask-skew-first{
    mask-image: conic-gradient(from 25deg at 100% 0%,transparent 0%,#000 0%);
}

.mask-skew-second{
    mask-image: conic-gradient(from 80deg at 100% 79%,transparent 0%,#000 0%);
}

.mask-skew-third{
    mask-image: conic-gradient(from 100deg at 10% 85%,transparent 0%,#000 0%);
}

//show masks only from lg breakpoint
@include media-breakpoint-up(lg) {
    .mask-skew-first{
        mask-image: conic-gradient(from 25deg at 100% 0%,transparent 50%,#000 50%);
    }
    
    .mask-skew-second{
        mask-image: conic-gradient(from 80deg at 100% 79%,transparent 50%,#000 50%);
    }

    .mask-skew-third {
        mask-image: conic-gradient(from 100deg at 10% 85%,transparent 50%,#000 50%);
    }
  }


.carousel-btn{
    margin-bottom: 3%;
}

//My custom svg - not used

// .carousel-polygon {
    
// background-color: $color-bg-primary;
// clip-path: polygon(0 92%, 0 100%, 100% 100%, 100% 0%, 96% 0, 85% 98%);
//     width: 546px;
//     height: 409px;
// }

.btn-contact-form:hover {
    color: $secondary !important;
}

// .btn-contact-form:active {
//     background-color: pink;
// }

//
// PROCESS
// ----------------------------------------------------

.process p {
    margin: 0;
}

hr.rounded {
    border: 2px solid $tertiary;
    border-radius: 5px;
    margin: 0;
  }


.process .process-step-icon {
    background-color: $primary;
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
    margin: 0 auto;

    display: flex;
      
        
    flex-direction: column;
      

    justify-content: center;
      
    align-items: center;
      
    font-size: 3rem;

    box-shadow:$box-shadow-primary;

    color: $secondary;
}

h5 {
    font-weight: 600;
}

.process-step-first-row {
    opacity: 0;
    // transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  
.process-step-first-row.show {
    opacity: 1;
    // transform: translateY(0);
}



.process-step-second-row {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

.process-step-second-row.show {
    opacity: 1;
}


//
// GALERRY
// ----------------------------------------------------

#gallery {
    background-color: $color-bg-primary;
    scroll-margin-top: 8rem;
}

@include media-breakpoint-up(xl) {
    #gallery {
        background-color: $color-bg-primary;
        scroll-margin-top: 5rem;
    }    
  }

#gallery img {
    border-radius: 1%;
    transition: .4s all ease-in-out;
    max-height: 315.47px;

    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}


#gallery img:hover {
    cursor: pointer;
    transform: scale(.97);
	filter: brightness(85%);
    border-radius: 1%;
}

.show-more-img {
    opacity: 0.2;
    border-radius: 1%;
    transition: none !important;
    animation: none !important;
}

.show-more-img:hover {
    cursor: default !important;
    transform: none !important;
	filter: none !important;
    border-radius: 1%;

}

.show-more-container, .show-less-container {
    position: relative;
    text-align: center;
    // color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered h5{
    opacity: 1;
    color: $primary;
    font-weight: 600;
  }

  .hidden {
    display: none;
  }

 