@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

//
// VARIABLES
// ----------------------------------------------------
$primary:#a40c24;
$secondary:#DEDEDE;

$font-size-base: 1rem;
$font-size-bigger: 1.2rem;

$font-family-sans: "Montserrat", sans-serif;
$font-family-serif: "Roboto Slab","Big Caslon", Georgia, serif;

$color-text: #343a40;

$color-bg-body: linear-gradient(to bottom, rgba(219,219,219,1) 9%, rgba(215,215,215,1) 24%, rgba(209,209,209,1) 49%, rgba(226,226,226,1) 66%, rgba(254,254,254,1) 95%, rgba(254,254,254,1) 100%);

//
//BOOTSTRAP IMPORT
// ----------------------------------------------------
@import "../../node_modules/bootstrap/scss/bootstrap";



//
// GENERAL
// ----------------------------------------------------
body {
    color: $color-text;
    // background: $color-bg-body;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font: {
        family: $font-family-sans;
        weight: normal;
    }
}

h1, h2, h3 {
    font: {
        family: $font-family-serif;
        // weight: bolder;
    }
}

.img-logo{
    width: 50%;
}

a:hover {
    color: $primary !important;
}

//
// NAVBAR
// ----------------------------------------------------
.navbar {
    background: linear-gradient(
        to bottom, 
        rgba(217, 217, 217, 1) 0%, 
        rgba(217, 217, 217, 1) 21%, 
        rgba(227, 227, 227, 1) 40%, 
        rgba(254, 254, 254, 1) 94%, 
        rgba(254, 254, 254, 1) 100%
    );
}



.navbar-nav .nav-link.active {
    color: $primary;
}

.nav-link {
    font-size: $font-size-bigger;
}

.navbar-collapse {
    align-items: end;
}

.navbar-contact-details ul {
    margin: 0;
    justify-self: flex-end;
    flex-direction: column !important;
}

//
// INTRODUCTION
// ----------------------------------------------------
// .introduction {
//     background-color: gray;

// }


.introduction-container {
    border: 1px solid red;
}

.introduction-carousel{
    background-color: #e2e2e2;
    clip-path: polygon(0 0, 95% 0, 75% 100%, 0% 90%);
}

.introduction-text {
    background: linear-gradient(to bottom, #eaeaea 0%, #ffffff 80%);
    // clip-path: polygon(30% 0, 100% 0, 100% 100%, 45% 100%);

}

.introduction-container .col{
    border: 0.5px solid rgb(55, 0, 255);
}
