@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

//
// VARIABLES
// ----------------------------------------------------
$primary:#a40c24;
$primary-transparent:#a40c236a;
$primary-line:#a40c23a0;
$secondary:#DEDEDE;
$secondary-transparent:#dedede8e;
$tertiary:#9c9898;
$white: white;

$font-size-primary: 1.2rem;
$font-size-smaller: 1rem;

$font-family-sans: "Montserrat", sans-serif;
$font-family-serif: "Roboto Slab","Big Caslon", Georgia, serif;

$color-text: #343a40;

$color-bg-primary: #f1efef;
$color-bg-secondary: #DEDEDE;
$color-bg-gradient: linear-gradient(
    to bottom, 
    rgba(217, 217, 217, 1) 0%, 
    rgba(217, 217, 217, 1) 21%, 
    rgba(227, 227, 227, 1) 40%, 
    rgba(254, 254, 254, 1) 94%, 
    rgba(254, 254, 254, 1) 100%
);
$color-bg-gradient-ligher: linear-gradient(
  to bottom, 
  rgba(235, 232, 232, 1) 0%, 
  rgba(235, 232, 232, 1) 10%, 
  rgba(235, 232, 232, 1) 30%, 
  rgba(235, 232, 232, 0.187) 74%, 
  rgba(235, 232, 232, 0.187) 60%
);

$box-shadow-primary:0 2px 1px rgba(0, 0, 0, 0.05),
                    0 2px 3px rgba(0, 0, 0, 0.05),
                    0 4px 8px rgba(0, 0, 0, 0.05);
$box-shadow-right: 12px 9px 10px 0px rgba(0,0,0,0.3);
$box-shadow-left:  -1px 6px 8px 0px rgba(0,0,0,0.3);

$btn-box-shadow: 3px 4px 14px -3px rgba(0, 0, 0, 0.75);

$border-radius-primary: 10px;
$border-radius-secondary: 5px;

$scroll-margin-bigger: 19.6rem;
$scroll-margin-smaller: 5rem;


//
//BOOTSTRAP IMPORT
// ----------------------------------------------------
@import "../../node_modules/bootstrap/scss/bootstrap";



//
// GENERAL
// ----------------------------------------------------
html {
    scroll-behavior: smooth;
  }

body {
    color: $color-text;
    // background: $color-bg-body;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font: {
        family: $font-family-sans;
        weight: normal;
        size: $font-size-primary;
    }
}

h1, h2, h3 {
    font: {
        family: $font-family-serif;
        // weight: bolder;
    }
}

h5 {
  font-size: $font-size-primary;
}

.btn {
  font-size: $font-size-primary;
}

.nav-link{
 font-size: $font-size-primary;
}

.img-logo{
    width: 164px;
}

a:hover {
    color: $primary !important;
}

strong {
  color: $primary;
  font-weight: bolder;
}

.nav-link {
  transition: color 0.2s ease;
  transition: border-color 0.2s ease;
}

//Vue-easy-lightbox

.toolbar-btn__resize {
  display: none !important;
}

.vel-modal {
  background: rgb(0 0 0 / 73%) !important;
}
//
// NAVBAR
// ----------------------------------------------------
.navbar {
    background: $color-bg-gradient
}

.navbar-nav .nav-link.active {
    color: $primary;
}

.navigation-toggler {
  border-color: $primary;
  transition: 0.15s ease-in-out;
}

.navigation-toggler:focus {
  color: $primary-transparent;
}

.navbar li {
  font-size: $font-size-smaller;
}

.navbar-collapse {
    align-items: end;
}

.navbar-contact-details ul {
    margin: 0;
    justify-self: flex-end;
    flex-direction: column !important;
}

//
// INTRODUCTION
// ----------------------------------------------------
#introduction {
    background-color: $color-bg-primary;
}

#introduction p{
  font-weight: 300;
}

#introduction img{
    max-height: 500px;
}

// show masks only from lg breakpoint
@include media-breakpoint-up(lg) {
  .shape-mask {
  //first wariant
  clip-path: polygon(0 0, 100% 0%, 90% 75%, 50% 99%, 0 75%);
  //second wariant
  clip-path: polygon(0 0, 100% 0%, 90% 75%, 50% 100%, 0 100%);
  /* You can tweak the points for a more rounded or dramatic curve */
  overflow: hidden;
  }    
}

.carousel-btn{
    margin-bottom: 3%;
}

.btn-contact-form:hover {
    color: $secondary !important;
}

//
// PROCESS
// ---------------------------------------------------
#process {
  scroll-margin-top: $scroll-margin-bigger;
}

@include media-breakpoint-up(xl) {
  #process {
      scroll-margin-top: $scroll-margin-smaller;
  }    
}

.process p {
    margin: 0;
    font-size: $font-size-primary;
}

.process-header-icon .icon-link .fa-chevron-down{
  height: 3rem;
  transition: color 0.2s ease;
  transition: .4s all ease-in-out;
  // animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
  padding: 1rem;
}

.process-header-icon .icon-link .fa-chevron-down:hover {
  // color: greenyellow;
  transform: scale(1.1);


}

#process-title {
  scroll-margin-top: 7rem;
}

.process .process-step-icon {
    background-color: $primary;
    border-radius: 100%;
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;      
    align-items: center;      
    font-size: 3rem;
    box-shadow:$btn-box-shadow;
    color: $secondary;
}

h5 {
    font-weight: 600;
}

// .process-step-first-row, .process-step-second-row {
//   background: $color-bg-gradient-ligher;
//   border-radius: $border-radius-secondary;
//   box-shadow: $box-shadow-primary;
// }

//
// GALERRY
// ----------------------------------------------------

#gallery {
    background-color: $color-bg-primary;
    scroll-margin-top: $scroll-margin-bigger;
}

@include media-breakpoint-up(xl) {
    #gallery {
        scroll-margin-top: $scroll-margin-smaller;
    }    
  }

#gallery .nav-tabs {
  border-color: $primary;
} 

#gallery .nav-link:hover {
  border-color: $primary-transparent;
}

#gallery .nav-link{
  color: $color-text;
}

#gallery .nav-link:hover{
  color: $primary;
}

#gallery .nav-link.active {
  background-color: $primary;
  border-color: $primary;
  color: $white;
}

#gallery .btn {
  font-size: $font-size-smaller;
}

#gallery .btn:hover{
  color: $secondary !important;
}

#gallery img {
    border-radius: $border-radius-secondary;
    transition: .4s all ease-in-out;
    max-height: 315.47px;
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1.5s;
}

#gallery img:hover {
    cursor: pointer;
    transform: scale(.97);
	filter: brightness(85%);
    border-radius: $border-radius-secondary;
}

.show-more-img {
    opacity: 0.2;
    border-radius: $border-radius-secondary;
    transition: none !important;
    animation: none !important;
}

.show-more-img:hover {
    cursor: default !important;
    transform: none !important;
	filter: none !important;
    border-radius: 1%;

}

.show-more-container {
    position: relative;
    text-align: center;
    // color: white;
}

.show-less-container{
  background-color: $color-bg-primary;
  background: linear-gradient(
    to bottom,
    rgba(241, 239, 239, 0) 0%,
    rgba(241, 239, 239, 0.3) 25%,
    rgba(241, 239, 239, 0.55) 50%,
    rgba(241, 239, 239, 0.8) 75%,
    rgba(241, 239, 239, 1) 100%
  );
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centered h5{
    opacity: 1;
    color: $primary;
    font-weight: 600;
  }

  .hidden {
    display: none;
  }
  
  .icon-show-less {
    color: lighten($color: $tertiary, $amount: 15%);
  }

  .btn-show-less, .btn-show-more {
    box-shadow: $btn-box-shadow;
  }

//
// REFERENCES
// ----------------------------------------------------
#references {
  scroll-margin-top: $scroll-margin-bigger;
}

@include media-breakpoint-up(xl) {
  #references {
      scroll-margin-top: $scroll-margin-smaller;
  }    
}

#references .tab {
  background-color:$color-bg-primary;
  border-radius:  $border-radius-secondary $border-radius-secondary 0 0 ; 
  transition: .4s all ease-in-out;
  max-height: 315.47px;
  animation-duration: 1.5s;
  position: relative;
  top: 7px;
	transition: .3s top ease-in-out;
}

#references .active-tab {
  background-color: $primary;
  z-index: 1;
  position: relative;
  top: 0
}

#references .active-tab .btn {
color: $color-text;
}

#references .nav-link {
  color: $tertiary;
}

#references .active {
  color: $white;
}

#references .tab:hover {
  cursor: pointer;
  top: 0; 
}

#references .tab:hover .nav-link{
  color: $primary;
}

#references .tab:hover .nav-link{
  color: $primary;
}

#references .active-tab:hover .nav-link {
  color: $white;
}

#references span {
  font-weight: normal;
  margin-bottom: 0;
}

.reference-detail {
  border-radius: 0 0 $border-radius-primary $border-radius-primary;
  box-shadow: -3px 3px 10px 0px rgba(0,0,0,0.28);
  border-top: 5px solid $primary;
  background-color: $color-bg-primary;
  z-index: 0;
  position: relative;
}

#references img {
  border-radius: $border-radius-secondary;
  transition: .4s all ease-in-out;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1.5s;
}

#references img:hover {
  cursor: pointer;
  transform: scale(.97);
  filter: brightness(85%);
  border-radius: $border-radius-primary;
}

.references-underline{
  border-top: 5px solid $primary-transparent;
  border-radius: 5px;
  opacity: 1;
}

@include media-breakpoint-down(md) {
  .reference-detail {
    box-shadow: none;
  } 
}

@include media-breakpoint-up(lg) {
  #references .tab {
    border-radius: $border-radius-secondary 0 0 $border-radius-secondary; 
    top: 0;
    left: 7px;
    transition: .3s left ease-in-out;
  }
  #references .tab:hover {
    left: 0; 
  }
  
  #references .active-tab {
    box-shadow: $box-shadow-left;
    left: 0;
  }
  .reference-detail {
    border-radius: 0 $border-radius-primary $border-radius-primary $border-radius-primary;
    border-left: 5px solid $primary;
    border-top: none;
  }  
}
//
// CONTACT FORM
// ----------------------------------------------------

#footer {
  background-color: $color-bg-primary;
  scroll-margin-top: $scroll-margin-bigger;
}

@include media-breakpoint-up(xl) {
  #footer {
      scroll-margin-top: $scroll-margin-smaller;
  }    
}

#footer svg {
  color: $primary;
}

#footer .list-group-item {
  background-color: $color-bg-primary;
  border: none;
  // align-self: center;
}

#footer .icon-helper {
  color: $color-bg-primary;
}

.partner-link {
  text-transform: uppercase;
}